.container { display: grid;
    grid-template-columns: auto 35% 35% auto;
    grid-template-rows: 180px 180px;
    gap: 10px;

}

.title_description {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;

}

.description {
    text-align: center;
}

.graphs {
    width: 100%;
    height: 100%;
    
}

.graph_container{
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    border-width: 3px;
}

.login_button {
    display: block;
    text-align: center;
    padding: 20px;
    line-height: 40px;
    width: 200px;
    height: 40px;
    background-color: #fc5201;
    margin: auto;
    border-radius: 5px;
    color: white;
    font-family: Boathouse, Segoe UI, Helvetica Neue, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }