
<!DOCTYPE html>
<html>
<head>
    <title>Strava analysis</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body style="background-color: #03092b; color: white;">
    <h1 class="title_description" >Latest activities</h1>
    <table class="customers">
        <thead>
            <tr>
                <th>Date & Time</th>
                <th>Activity type</th>
                <th>Duration</th>
                <th>Kudos</th>
            </tr>
        </thead>
        <tbody id="demo">
        </tbody>
    </table>
    <script>
        document.getElementById("demo").innerHTML = `{{table_data | safe}}`;
    </script>
</body>
</html>
